body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(180, 204, 243);
  color: black;
  text-align: center;
}

.todo-header {
  margin: 10px;
  display: flex;
  justify-content: center;
  color: whitesmoke;
}

.js-clock h1 {
  font-size: 120px;
  margin: 10px;
  color: whitesmoke;
}

.todo-form {
  margin: 0 auto 20px;
  width: 600px;
  height: 40px;
}

.todo-input {
  width: 600px;
  height: 40px;
  font-size: 14px;
  padding: 0 10px;
}

.todo-view {
  display: flex;
  justify-content: space-between;
}

.todo-view div {
  width: 300px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgba(255, 255, 255, 0.705);
  border-radius: 6px;
}

.btn-check {
  width: 20px;
  height: 20px;
  background-color: #2eb2ff;
}

.btn-check:checked {
  content: '✔';
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #0066ff54;
  border-radius: 5px;
  padding: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
