body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(180, 204, 243);
  color: whitesmoke;
}

.todo-header {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.js-clock h1 {
  font-size: 120px;
  margin: 10px;
}

.todo-form {
  margin: 0 auto 20px;
  width: 600px;
  height: 40px;
}

.todo-input {
  width: 600px;
  height: 40px;
  font-size: 14px;
}

h2 {
  color: black;
}

.todo-view {
  display: flex;
  justify-content: space-between;
}

.todo-view div {
  width: 300px;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgba(255, 255, 255, 0.705);
  border-radius: 6px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
